/* font-family: 'Brittney Signature', sans-serif; */


/* @import url('http://fonts.cdnfonts.com/css/brittany-signature'); */

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
}

.header_background {
  padding: 30px 0px 10px 0px;
  background-color: black;
  font-size: 60px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-family: "Brittany Signature", sans-serif;
}

#brandname {
  font-size: xx-large;
}

.menu {
  background-color: rgb(0, 0, 0);
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  border-radius: 0px 0px 10px 10px;
}

.menu a {
  font-size: 25px;
  text-decoration: none;
  color: rgb(192, 192, 192);
  font-family: "Zen Kurenaido", sans-serif;
  border-radius: 10px;
}

.menu a:hover {
  font-size: 25;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Zen Kurenaido", sans-serif;
  border-radius: 10px;
  transition-duration: 500ms;
}

#greet {
  text-align: center;
  padding-top: 20px;
}

.main-content p {
  padding: 20px;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: larger;
}

#footer {
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 10px 10px 0px 0px;
}

.iconbox {
  display: flex;
  justify-content: center;
}

.icondiv {
  display: flex;
  justify-content: space-evenly;
  /* box-sizing: border-box; */
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  width: 20%;
  ;

}

.licons {
  display: flex;
  width: 2em;
}


#copyright {
  text-align: center;
  margin: 0;
}

/* ------------------------------------ LANDING PAGE SPECIFIC ------------------------------------ */
#hometextarea {
  text-align: center;

}

#membertitle {
  display: flex;
  justify-content: space-evenly;

}

#memberiglink {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 0px 0px 40px;

}

#memberiglink a {
  text-decoration: none;
}

/* ------------------------------------ ABOUT PAGE SPECIFIC ------------------------------------ */
.instapost {
  display: flex;
  justify-content: center;
}